body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: rgb(39, 110, 151);
}

.navbar nav {
  display: flex;             /* Coloca os links lado a lado */
  justify-content: flex-end; /* Empurra para a direita */
  gap: 15px;                 /* Espaço ente os links */
}

.navbar a {
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 6px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  transition: 0.2s;
}

.navbar a:hover {
  background-color: rgb(255, 196, 0);
  color: white;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  padding: 6px;
}